html,
body{
    margin-top: -12px;
    height: 100%;
    background-color: #1a2226 !important;
    font-family: "Roboto",sans-serif;
}


.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white
}

form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
    

}

.login-form{
    width: 380px;
    height: 525px;
    margin: 20px;
    background: rgb(10,0,36);
background: linear-gradient(90deg, rgba(10,0,36,1) 0%, rgba(33,40,134,1) 0%, rgba(51,37,59,1) 100%);
    border-radius: 10px !important;

}

input[type='text'],
textarea[type='text']{
    background: #1a2226;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}

input[type='text']:focus,
textarea[type='text']:focus{
    outline: none;
    border: none;
    background: white;
    color: black;

}

.card-title{
    font-weight: 900px;
    padding-top: 20px;
}   


.btn{
    font-size: 14px;
    transform: translateY(10px);
    border-radius: 10px !important;
    margin-left: 130px;

}

.signup{
    text-align: center;
    padding-top: 25px;
}

.bg-image {
    margin-top: -3px;
    height: 100vh;

}
