body {
    font-family: "Roboto", sans-serif;
}

.global-container {
    height: 100vh;
    background-color: #343F4F;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f0ebd8;
}

form {
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}

.login-form {
    width: 380px;
    height: 525px;
    margin: 20px;
    background: #0d1321;
    border-radius: 10px !important;

}

input[type='text'],
textarea[type='text'] {
    background: #748CAB;
    border: 2px solid white;
    border-radius: 10px;
    color: #f0ebd8;
}

input[type='text']:focus,
textarea[type='text']:focus {
    outline: none;
    border: none;
    background: white;
    color: black;

}

.card-title {
    font-weight: 900px;
    padding-top: 20px;
}


.btn {
    font-size: 14px;
    transform: translateY(10px);
    border-radius: 10px !important;
    color: #f0ebd8;
    margin-top: 25px;
    background-color: #1b2744;
    width: 100%;
}

.btn:hover{
    background-color: #748CAB;
}

.signup {
    text-align: center;
    padding-top: 25px;
}

.bg-image {
    margin-top: -3px;
    height: 100vh;
}