body{
    background-color: #343F4F;
}

form{
    color: #f0ebd8;
    width: 500px;
}

.form-group{
    margin: 10px 0;
}

.btn{
    color: #f0ebd8;
    margin-top: 25px;
    background-color: #0d1321;
}