{% extends 'index-base.html'%}
{% block title %}ToDo{% endblock %}

{% block style %}

<link rel="stylesheet" href="../static/css/shared.css">
<link rel="stylesheet" href="../static/css/add-task.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"> -->
{% endblock %}

{% block anchor %}
<a href="{{url_for('home')}}">
    <img src="../static/images/checklist.png" alt="ToDo Logo" class="logo">
</a>
{% endblock %}

{% block button1 %}
<li><a href="{{url_for('addTask')}}"> Add Task </a></li>
{% endblock %}

{% block button2 %}
<li><a href="{{url_for('viewTasks')}}"> View Tasks </a></li>
{% endblock %}

{% block button3 %}
<li><a href="{{url_for('index')}}"> Logout </a></li>
{% endblock %}

{% block content %}
<div class="bg-image card shadow-1-strong"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');">
    <div class="global-container">
        <div class="card login-form">
            <div class="card-body">
                <h1 class="card-title text-center">Add a Task</h1>
                <div class="card-text">
                    <form method="post">
                        <div class="form-group">
                            <label for="exampleInputTask">Title</label>
                            <input type="text" class="form-control form-control-sm" id="exampleInputTask" name="title">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputDescription">Description</label>
                            <textarea type="text" class="form-control " id="exampleInputDescription" name="description"
                                style="height:30vh ;"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-large btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}