{% extends 'index-base.html' %}

{% block title %}ToDo{% endblock %}

{% block style %}
<link rel="stylesheet" href="../static/css/shared.css">
<link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block anchor %}
<a href="{{url_for('index')}}">
    <img src="../static/images/checklist.png" alt="ToDo Logo" class="logo">
</a>
{% endblock %}

{% block button1 %}
<li><a href="{{url_for('signUp')}}"> Sign-Up </a></li>
{% endblock %}

{% block button2 %}
<li><a href="{{url_for('login')}}"> Login</a></li>
{% endblock %}

{% block button3 %}
<li><a href="#"> About </a></li>
{% endblock %}


{% block content %}
<div class="content">
    <div class="text-box">
        <div class="static-text">
            ToDo Website
        </div>
        <ul class="dynamic-text">
            <li><span>Do</span></li>
            <li><span>It</span></li>
            <li><span>Easily</span></li>
        </ul>
    </div>
    <div class="img-box">
        <img src="../static/images/logo-img.png" alt="ToDo Logo" class="Todo">
    </div>
</div>
{% endblock %}