{% extends 'index-base.html' %}

{% block title %}ToDo{% endblock %}

{% block style %}
<link rel="stylesheet" href="../static/css/shared.css">
<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block button1 %}
<li><a href="{{url_for('signUp')}}"> Sign-Up </a></li>
{% endblock %}

{% block button2 %}
<li><a href="{{url_for('login')}}"> Login</a></li>
{% endblock %}

{% block content %}
<div class="content">
    <img src="../static/images/logo-img.png" alt="ToDo Logo">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div>
        </div>
        <div class="mb-4">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-dark">Login</button>
    </form>
</div>
{% endblock %}

